<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/publication.css" th:href="@{/css/publication.css}">
  <link rel="stylesheet" href="../../css/headerFooter.css" th:href="@{/css/headerFooter.css}">
  <link rel="stylesheet" href="../../css/modal.css" th:href="@{/css/modal.css}">
  <link rel="shortcut icon" th:href="@{/images/warning.png}" type="image/x-icon">
  <title>EditPublication</title>
</head>
<body>
<div th:replace="${user.getUserRole().getRole() == 'ADMIN'} ? 'fragments/admin_header' : 'fragments/user_header' :: header">
</div>
<div class="container-photo">
  <img th:src="@{/images/warning.png}" id="warning-photo" alt="Warning">
  <div class="text-container">
    <p class="dearUser">Уважаемый пользователь</p>
    <p class="warText">
      Мы хотим обратить ваше внимание на важный момент. Если ваши объявления о продаже автомобилей содержат
      неверную или несоответствующую информацию, они могут быть удалены или заблокированы. Это мера, которая
      предотвращает мошеннические действия и защищает наших пользователей.
      Пожалуйста, убедитесь, что вы вводите корректную и достоверную информацию о продаваемом автомобиле, включая
      модель, год выпуска, техническое состояние и другие важные данные. Если вы получаете жалобы на
      несоответствие данных в объявлении, мы будем вынуждены заблокировать ваш аккаунт.
    </p>
    <p class="thanks">Спасибо за понимание.</p>
    <p class="respect">С уважением, Администрация сайта</p>
  </div>
</div>
<h1>Подача объявления на продажу авто</h1>
<div th:if="${message != null && !message.isEmpty()}">
  <h3 class ="form-error" th:text="${message}"></h3>
</div>
<form id="car-form" th:action="@{/catalog/{publication}/edit(publication=${publication.getId()})}" method="post" enctype="multipart/form-data">
  <div class="col form-container">
    <div class="form-group">
      <label for="make">Марка</label>
      <select id="make" name="make">
        <option th:value="${publication.getCar().getMake()}" th:text="${publication.getCar().getMake()}"></option>
        <option value="Toyota">Toyota</option>
        <option value="Honda">Honda</option>
        <option value="Nissan">Nissan</option>
        <option value="BMW">BMW</option>
        <option value="Mercedes-Benz">Mercedes-Benz</option>
        <option value="Ford">Ford</option>
        <option value="Chevrolet">Chevrolet</option>
        <option value="Audi">Audi</option>
        <option value="Hyundai">Hyundai</option>
        <option value="Volkswagen">Volkswagen</option>
      </select>
    </div>
    <div class="form-group">
      <label for="model">Модель</label>
      <input type="text" id="model" name="model" placeholder="Введите модель" th:value="${publication.getCar().getModel()}" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="year">Год выпуска</label>
      <input type="number" id="year" name="year" min="1900" max="2023" th:value="${publication.getCar().getYear()}" placeholder="Введите год выпуска">
    </div>
    <div class="form-group">
      <label for="body_type">Тип кузова</label>
      <select id="body_type" name="body_type">
        <option th:value="${publication.getCar().getBodyType()}" th:text="${publication.getCar().getBodyType()}"></option>
        <option value="Седан">Седан</option>
        <option value="Внедорожник">Внедорожник</option>
        <option value="Купе">Купе</option>
        <option value="Универсал">Универсал</option>
      </select>
    </div>
    <div class="form-group">
      <label for="engine_type">Тип двигателя</label>
      <select id="engine_type" name="engine_type">
        <option th:value="${publication.getCar().getEngineType()}" th:text="${publication.getCar().getEngineType()}"></option>
        <option value="Бензиновый">Бензиновый</option>
        <option value="Дизельный">Дизельный</option>
        <option value="Электрический">Электрический</option>
        <option value="Гибридный">Гибридный</option>
      </select>
    </div>
    <div class="form-group">
      <label for="drive_type">Привод</label>
      <select id="drive_type" name="drive_type">
        <option th:value="${publication.getCar().getDriveType()}" th:text="${publication.getCar().getDriveType()}"></option>
        <option value="Передний">Передний</option>
        <option value="Задний">Задний</option>
        <option value="Полный">Полный</option>
      </select>
    </div>
    <div class="form-group">
      <label for="transmission">Коробка передач</label>
      <select id="transmission" name="transmission">
        <option th:value="${publication.getCar().getTransmission()}" th:text="${publication.getCar().getTransmission()}"></option>
        <option value="Механическая">Механическая</option>
        <option value="Автоматическая">Автоматическая</option>
      </select>
    </div>
  </div>

  <div class="col form-container">
    <div class="form-group form-group--price">
      <label for="price">Цена</label>
      <div class="input-group">
        <input type="number" id="price" name="price" placeholder="Введите цену" th:value="${publication.getPrice()}" class="form-control">
        <div class="input-group-append">
          <select name="currency" id="currency" class="form-control">
            <option value="BYN">BYN</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group form-group--payment-method">
      <label for="payment_method">Способ оплаты</label>
      <select name="payment_method" id="payment_method" class="form-control">
        <option value="Наличные">Наличные</option>
        <option value="Картой">Картой</option>
        <option value="Криптовалюта">Криптовалюта</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Описание</label>
      <textarea id="description" name="description" rows="5" th:value="${publication.getDescription()}" th:text="${publication.getDescription()}" placeholder="Введите описание"></textarea>
    </div>
    <button type="submit" id="btnSub">Сохранить изменения</button>
  </div>
</form>
<div th:replace="fragments/footer :: footer">
</div>
<script th:src="@{/script/modal.js}"></script>
<script>
  var btnSub = document.querySelector('#btnSub');

  btnSub.addEventListener('click', () =>{
    const make = document.getElementById('make').value;
    const model = document.getElementById('model').value;
    const year = document.getElementById('year').value;
    const body_type = document.getElementById('body_type').value;
    const engine_type = document.getElementById('engine_type').value;
    const drive_type = document.getElementById('drive_type').value;
    const transmission = document.getElementById('transmission').value;
    const price = document.getElementById('price').value;
    const currency = document.getElementById('currency').value;
    const payment_method = document.getElementById('payment_method').value;

    if (!make || !model || !year || !body_type || !engine_type || !drive_type || !transmission || !price || !currency || !payment_method) {
      console.log("Не все поля заполнены")
    }
    else
    {
      const modal = new ItcModal({
        title: '<h2 class ="H2">Ваше объявление успешно изменено</h2>'
      })
      modal.show();
    }

  });
</script>
</body>
</html>