<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Registration</title>
</head>
<body>
Registration
<div th:if="${message}">
  <p th:text="${message}"></p>
</div>
<form th:method="POST" th:action="@{/registration}" th:object="${user}">
  <label for="username">Enter username</label>
  <input type="text" th:field="*{username}" id="username"/>

  <label for="password">Enter password</label>
  <input type="password" th:field="*{password}" id="password"/>

  <input type="submit" value="Create">
</form>
</body>
</html>